.weather {
  place-self: center;
  padding: 20px; /* Csökkentve mobil nézetben */
  border-radius: 20px;
  background-image: linear-gradient(45deg, rgb(6, 26, 26), rgb(76, 120, 125));
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 75%; /* A szélesség alkalmazkodik a kijelző méretéhez */
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%; /* Szélesség skálázása */
  justify-content: center;
}

.search-bar input {
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 1rem; /* A betűméret rugalmas */
  width: 100%; /* Szélesség skálázása */
}

.search-bar img {
  width: 40px; /* Kisebb méret mobilon */
  padding: 10px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}

.weather-icon {
  width: 120px; /* Kisebb méret mobilon */
  margin: 20px 0;
}

.temperature {
  color: #fff;
  font-size: 3rem; /* Rugalmas betűméret */
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 2rem; /* Rugalmas betűméret */
}

.weather-data {
  width: 100%;
  margin-top: 30px;
  color: #fff;
  display: flex;
  flex-direction: column; /* Mobilon egymás alá kerülnek */
  gap: 20px;
  justify-content: space-evenly;
}

.weather-data .col {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
  justify-content: center;
}

.weather-data .col span {
  display: block;
  font-size: 0.9rem;
}

.weather-data .col img {
  width: 26px;
}

@media (min-width: 768px) {
  .weather {
    padding: 40px;
    max-width: 600px;
  }

  .search-bar {
    gap: 16px;
    flex-direction: row;
  }

  .search-bar input {
    height: 50px;
    font-size: 1.1rem;
  }

  .search-bar img {
    width: 50px;
    padding: 15px;
  }

  .weather-icon {
    width: 150px;
  }

  .temperature {
    font-size: 4rem;
  }

  .location {
    font-size: 2.5rem;
  }

  .weather-data {
    flex-direction: row; /* Asztali nézetben egymás mellé kerülnek */
  }

  .weather-data .col {
    font-size: 1.5rem;
  }

  .weather-data .col span {
    font-size: 1rem;
  }
}
